.thread-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin: 1%;
  border-radius: 10px;
  /* background-color: rgba(6, 181, 212, 0.388); */
  background-color: rgb(33,37,41);
  margin-bottom: 2%;
}

.thread-header {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: .75%;
  gap: 5px;
}

.content {
  width: 95%;
  margin: auto;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* color: #05556d */
  color: #0093b5;
}

.header-link a {
  color: whitesmoke;
}

h2 {
  font-size: 24px;
  margin: 0;
}

.solutions-container h3 {
  font-size: 20px;
  font-weight: bold;
  width: 95%;
  margin: 10px auto;
}

.date-posted {
  font-weight: bold;
  margin: 0;
}

.solutions-container {
  display: flex;
  flex-direction: column;
}

.solutions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.solutions-section {
  /* width: 95%; */
  margin: auto auto;
}

.cc-modal {
  display: flex;
  flex-flow: row-reverse;
  margin-right: 1%;
}

.solutions-modal-button {
  width: 200%;
}

.add-challenge-modal {

}

.add-challenge-modal, .solutions-modal-button {
  border-radius: 30px;
    background-color: #0093b5;
    border-color: #0093b5;
}
