.thread-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  margin: auto;
}

.thread-header {
  background-color: rgb(6 182 212);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-link a {
  color: black;
}

h2 {
  font-size: 24px;
  margin: 0;
}

.date-posted {
  font-weight: bold;
  margin: 0;
}
