h4,
.solution-title a {
  font-size: 18px;
  margin: 0;
  color: #fc7625;
}

.solution-text {
}

.solution-row {
  border-radius: 10PX;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: rgb(250, 250, 250);
  /* background-color: #0093b5; */
  padding-bottom: 1%;
}

.solution-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.solution-header {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 95%;
  margin: auto;
  padding: 1%;
  /* background-color: rgba(210, 215, 216, 0.408); */
  background-color: rgba(33, 37, 41, 0.919);
}

.solution-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.solution-title + p {
  color: white;
}

.display-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
}

.solution-header p {
  font-size: 16px;
  margin: 0;
}
